In [1]:
import pandas as pd

## 통제변인 붙이기
* 1. 도시 면적
* 2. 버스 정류장 개수, 버스 노선, 지하철 노선, 지하철 역 개수
* 3. 남녀 성비

In [2]:
# 기존 데이터 불러오기
existing_data = pd.read_excel('./data/지표.xlsx')

existing_data

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,70-74세,75-79세,80-84세,85-89세,90-94세,95-99세,100세이상,경제활동가능인구,인구_실업급여자_비율,경제활동가능인구_실업급여자_비율
0,서울,종로구,11010,2015,0.950,0.388313,2755607,3443,13435,11931891080,...,6511.5,4647.0,2593.5,1264.5,481.5,115.0,18.5,112432.0,0.021316,0.030623
1,서울,종로구,11010,2016,0.968,0.388313,2737610,3304,12419,11836795910,...,6336.5,4833.5,2809.5,1309.5,482.5,127.5,20.5,110602.5,0.021399,0.029873
2,서울,종로구,11010,2017,0.957,0.388313,2870292,3214,12277,12480610630,...,6187.5,5251.5,3027.0,1401.0,501.5,132.0,24.5,110189.0,0.020435,0.029168
3,서울,종로구,11010,2018,0.952,0.388313,3007628,3265,12960,14710609140,...,6152.0,5571.5,3234.0,1493.5,546.5,142.0,24.5,109943.5,0.020669,0.029697
4,서울,중구,11020,2015,0.952,0.327387,2922120,3034,11835,10491851900,...,5269.0,3661.0,2056.0,1019.5,364.5,78.5,8.0,92054.0,0.023615,0.032959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,2018,0.970,0.185385,1893631,1270,4938,5586589860,...,3516.0,3268.0,2121.0,1003.5,337.0,86.5,9.5,41697.5,0.021182,0.030457
260,경기,양평군,31380,2015,0.952,0.232083,1571897,1671,6827,6165924380,...,5970.5,4684.5,2791.0,1299.0,494.0,114.5,13.5,71373.0,0.016394,0.023412
261,경기,양평군,31380,2016,0.950,0.232083,1637534,1720,6935,6728977860,...,6135.5,4844.5,3119.0,1427.0,516.0,132.5,12.5,73185.5,0.016271,0.023502
262,경기,양평군,31380,2017,0.953,0.232083,1708265,1833,7505,7765318000,...,6290.0,5194.0,3404.5,1553.0,540.0,143.5,14.0,74997.5,0.016761,0.024441
263,경기,양평군,31380,2018,0.947,0.232083,1785488,2013,8008,9448406570,...,6539.5,5503.5,3629.5,1687.5,588.5,144.0,18.0,75762.0,0.018120,0.026570

In [3]:
existing_data.dtypes

시도                    object
시군구                   object
행정구역코드                 int64
년도                     int64
EQ5D                 float64
학사_비율                float64
소득액                    int64
실업급여지급자수(년)            int64
실업급여지급건수(년)            int64
실업급여지급액(년)             int64
인구수                    int64
계                    float64
0-4세                 float64
5-9세                 float64
10-14세               float64
15-19세               float64
20-24세               float64
25-29세               float64
30-34세               float64
35-39세               float64
40-44세               float64
45-49세               float64
50-54세               float64
55-59세               float64
60-64세               float64
65-69세               float64
70-74세               float64
75-79세               float64
80-84세               float64
85-89세               float64
90-94세               float64
95-99세               float64
100세이상               float64
경제활동가능인구             float64
인구_실업급여자_비율          float64
경제활동가능인구_실업급여자_비율    float64
dtype: object

In [4]:
# 시군구 코드를 문자열로 변환
existing_data = existing_data.astype({'행정구역코드':str})
existing_data.dtypes

시도                    object
시군구                   object
행정구역코드                object
년도                     int64
EQ5D                 float64
학사_비율                float64
소득액                    int64
실업급여지급자수(년)            int64
실업급여지급건수(년)            int64
실업급여지급액(년)             int64
인구수                    int64
계                    float64
0-4세                 float64
5-9세                 float64
10-14세               float64
15-19세               float64
20-24세               float64
25-29세               float64
30-34세               float64
35-39세               float64
40-44세               float64
45-49세               float64
50-54세               float64
55-59세               float64
60-64세               float64
65-69세               float64
70-74세               float64
75-79세               float64
80-84세               float64
85-89세               float64
90-94세               float64
95-99세               float64
100세이상               float64
경제활동가능인구             float64
인구_실업급여자_비율          float64
경제활동가능인구_실업급여자_비율    float64
dtype: object

In [5]:
#시도 이름 바꾸기

def SIDOname_change(SIDO):
    if((SIDO.find('경기')>-1)):
        SIDO='경기'
    elif ((SIDO.find('인천')>-1)):
        SIDO='인천'
    elif ((SIDO.find('서울')>-1)):
        SIDO='서울'
    else:
        SIDO
    
    return SIDO

#명칭이 바뀐 시군구 이름 바꾸기

def SGGname_change(SIDO, SGG):
    if((SIDO.find('경기')>-1)&(SGG=='여주군')):
        SGG='여주시'
    elif ((SIDO.find('인천')>-1)&(SGG=='남구')):
        SGG='미추홀구'
    else:
        SGG
    
    return SGG

In [6]:
# 오류 행정동 코드 바꾸기
def SGGcode_change(SGG_CD):
    if(SGG_CD=='23030'):
        SGG_CD='23090'
    else:
        SGG_CD
    
    return SGG_CD

In [7]:
existing_data['행정구역코드'] = existing_data['행정구역코드'].apply(lambda x:SGGcode_change(x))

existing_data

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,70-74세,75-79세,80-84세,85-89세,90-94세,95-99세,100세이상,경제활동가능인구,인구_실업급여자_비율,경제활동가능인구_실업급여자_비율
0,서울,종로구,11010,2015,0.950,0.388313,2755607,3443,13435,11931891080,...,6511.5,4647.0,2593.5,1264.5,481.5,115.0,18.5,112432.0,0.021316,0.030623
1,서울,종로구,11010,2016,0.968,0.388313,2737610,3304,12419,11836795910,...,6336.5,4833.5,2809.5,1309.5,482.5,127.5,20.5,110602.5,0.021399,0.029873
2,서울,종로구,11010,2017,0.957,0.388313,2870292,3214,12277,12480610630,...,6187.5,5251.5,3027.0,1401.0,501.5,132.0,24.5,110189.0,0.020435,0.029168
3,서울,종로구,11010,2018,0.952,0.388313,3007628,3265,12960,14710609140,...,6152.0,5571.5,3234.0,1493.5,546.5,142.0,24.5,109943.5,0.020669,0.029697
4,서울,중구,11020,2015,0.952,0.327387,2922120,3034,11835,10491851900,...,5269.0,3661.0,2056.0,1019.5,364.5,78.5,8.0,92054.0,0.023615,0.032959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,2018,0.970,0.185385,1893631,1270,4938,5586589860,...,3516.0,3268.0,2121.0,1003.5,337.0,86.5,9.5,41697.5,0.021182,0.030457
260,경기,양평군,31380,2015,0.952,0.232083,1571897,1671,6827,6165924380,...,5970.5,4684.5,2791.0,1299.0,494.0,114.5,13.5,71373.0,0.016394,0.023412
261,경기,양평군,31380,2016,0.950,0.232083,1637534,1720,6935,6728977860,...,6135.5,4844.5,3119.0,1427.0,516.0,132.5,12.5,73185.5,0.016271,0.023502
262,경기,양평군,31380,2017,0.953,0.232083,1708265,1833,7505,7765318000,...,6290.0,5194.0,3404.5,1553.0,540.0,143.5,14.0,74997.5,0.016761,0.024441
263,경기,양평군,31380,2018,0.947,0.232083,1785488,2013,8008,9448406570,...,6539.5,5503.5,3629.5,1687.5,588.5,144.0,18.0,75762.0,0.018120,0.026570

###### 여성인구 붙이기

In [8]:
population5 = pd.read_excel('./data/5age_wm_population.xlsx')
population5

,TIME 시점,A 시도,A 행정구역(시군구)별,000 계,020 0 - 4세,050 5 - 9세,070 10 - 14세,100 15 - 19세,120 20 - 24세,130 25 - 29세,...,280 65 - 69세,310 70 - 74세,330 75 - 79세,340 80세 이상,360 80 - 84세,370 85세 이상,380 85 - 89세,410 90 - 94세,430 95 - 99세,440 100세 이상
0,Y2015 2015,서울,11010 종로구,76326.0,2143.5,2328.0,2968.0,4225.5,5648.5,5715.5,...,3809.5,3540.0,2599.0,2883.0,1599.5,1283.5,845.0,339.0,85.0,14.5
1,Y2015 2015,서울,11020 중구,61636.0,2159.5,1938.0,1890.5,2704.5,4129.5,4567.0,...,3205.5,2890.5,2130.5,2411.0,1371.5,1039.5,725.0,256.0,52.0,6.5
2,Y2015 2015,서울,11030 용산구,115743.5,4349.0,4149.5,4292.5,5358.0,7411.5,8425.0,...,5501.5,4936.5,3982.0,4078.0,2275.5,1802.5,1253.0,442.0,89.5,18.0
3,Y2015 2015,서울,11040 성동구,146776.0,6095.5,5417.5,5605.5,7469.0,10061.0,11246.5,...,6579.0,5635.5,4093.0,4063.0,2340.0,1723.0,1175.0,434.0,97.0,17.0
4,Y2015 2015,서울,11050 광진구,181675.5,6465.0,6282.5,7108.0,10154.5,13796.5,16331.5,...,7321.0,5613.0,4019.0,4229.0,2387.0,1842.0,1240.0,463.0,122.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Y2018 2018,경기도,31270 포천시,71224.0,2297.5,2808.0,2920.0,3961.0,4346.5,3731.0,...,3532.5,3352.0,3370.5,4010.0,2337.5,1672.5,1117.0,428.5,115.0,12.0
260,Y2018 2018,경기도,31280 여주시,54825.0,1798.5,2216.5,2292.0,2897.0,3004.5,2600.0,...,3118.0,2623.5,2677.0,3458.0,1925.0,1533.0,1016.5,403.5,101.0,12.0
261,Y2018 2018,경기도,31350 연천군,21156.0,843.5,773.0,725.0,944.5,1008.5,1029.0,...,1342.5,1382.5,1447.0,1746.5,1019.5,727.0,475.5,199.5,44.5,7.5
262,Y2018 2018,경기도,31370 가평군,30300.0,860.0,1071.0,1078.0,1364.5,1418.0,1330.0,...,1988.5,1817.0,1857.5,2279.0,1266.5,1012.5,684.0,256.0,64.5,8.0
263,Y2018 2018,경기도,31380 양평군,56853.5,1724.0,2230.0,2238.0,2405.5,2568.0,2313.0,...,3984.0,3253.5,2990.0,3948.0,2192.0,1756.0,1195.0,436.0,111.5,13.5

In [9]:
population5 = population5.drop(columns=['340 80세 이상','370 85세 이상'])

In [10]:
np5_columns = population5.columns.tolist()
np5_columns

['TIME 시점',
 'A 시도',
 'A 행정구역(시군구)별',
 '000 계',
 '020 0 - 4세',
 '050 5 - 9세',
 '070 10 - 14세',
 '100 15 - 19세',
 '120 20 - 24세',
 '130 25 - 29세',
 '150 30 - 34세',
 '160 35 - 39세',
 '180 40 - 44세',
 '190 45 - 49세',
 '210 50 - 54세',
 '230 55 - 59세',
 '260 60 - 64세',
 '280 65 - 69세',
 '310 70 - 74세',
 '330 75 - 79세',
 '360 80 - 84세',
 '380 85 - 89세',
 '410 90 - 94세',
 '430 95 - 99세',
 '440 100세 이상']

In [11]:
np5_columns = [('').join(column.split(' ')[1:]) for column in np5_columns]

In [12]:
population5.columns=np5_columns

population5

,시점,시도,행정구역(시군구)별,계,0-4세,5-9세,10-14세,15-19세,20-24세,25-29세,...,55-59세,60-64세,65-69세,70-74세,75-79세,80-84세,85-89세,90-94세,95-99세,100세이상
0,Y2015 2015,서울,11010 종로구,76326.0,2143.5,2328.0,2968.0,4225.5,5648.5,5715.5,...,5802.5,4339.0,3809.5,3540.0,2599.0,1599.5,845.0,339.0,85.0,14.5
1,Y2015 2015,서울,11020 중구,61636.0,2159.5,1938.0,1890.5,2704.5,4129.5,4567.0,...,5180.0,3779.5,3205.5,2890.5,2130.5,1371.5,725.0,256.0,52.0,6.5
2,Y2015 2015,서울,11030 용산구,115743.5,4349.0,4149.5,4292.5,5358.0,7411.5,8425.0,...,8665.0,6412.0,5501.5,4936.5,3982.0,2275.5,1253.0,442.0,89.5,18.0
3,Y2015 2015,서울,11040 성동구,146776.0,6095.5,5417.5,5605.5,7469.0,10061.0,11246.5,...,11271.5,7904.0,6579.0,5635.5,4093.0,2340.0,1175.0,434.0,97.0,17.0
4,Y2015 2015,서울,11050 광진구,181675.5,6465.0,6282.5,7108.0,10154.5,13796.5,16331.5,...,13872.0,9567.5,7321.0,5613.0,4019.0,2387.0,1240.0,463.0,122.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Y2018 2018,경기도,31270 포천시,71224.0,2297.5,2808.0,2920.0,3961.0,4346.5,3731.0,...,7047.0,5613.5,3532.5,3352.0,3370.5,2337.5,1117.0,428.5,115.0,12.0
260,Y2018 2018,경기도,31280 여주시,54825.0,1798.5,2216.5,2292.0,2897.0,3004.5,2600.0,...,5036.0,4494.0,3118.0,2623.5,2677.0,1925.0,1016.5,403.5,101.0,12.0
261,Y2018 2018,경기도,31350 연천군,21156.0,843.5,773.0,725.0,944.5,1008.5,1029.0,...,1948.5,1867.5,1342.5,1382.5,1447.0,1019.5,475.5,199.5,44.5,7.5
262,Y2018 2018,경기도,31370 가평군,30300.0,860.0,1071.0,1078.0,1364.5,1418.0,1330.0,...,3090.0,2916.0,1988.5,1817.0,1857.5,1266.5,684.0,256.0,64.5,8.0
263,Y2018 2018,경기도,31380 양평군,56853.5,1724.0,2230.0,2238.0,2405.5,2568.0,2313.0,...,5727.5,5496.0,3984.0,3253.5,2990.0,2192.0,1195.0,436.0,111.5,13.5

In [13]:
#통계청 데이터이므로 EQ5D 데이터 전처리 형식으로 처리
population5['시도']=population5['시도'].apply(lambda x: '경기' if x =='경기도' else x)
population5['년도']=population5['시점'].apply(lambda x:str(str(x).split(' ')[1]))
population5['시군구']=population5['행정구역(시군구)별'].apply(lambda x:str(x).split(' ')[1])
population5['시군구']=population5.apply(lambda x:SGGname_change(x['시도'],x['시군구']),axis=1)

population5

,시점,시도,행정구역(시군구)별,계,0-4세,5-9세,10-14세,15-19세,20-24세,25-29세,...,65-69세,70-74세,75-79세,80-84세,85-89세,90-94세,95-99세,100세이상,년도,시군구
0,Y2015 2015,서울,11010 종로구,76326.0,2143.5,2328.0,2968.0,4225.5,5648.5,5715.5,...,3809.5,3540.0,2599.0,1599.5,845.0,339.0,85.0,14.5,2015,종로구
1,Y2015 2015,서울,11020 중구,61636.0,2159.5,1938.0,1890.5,2704.5,4129.5,4567.0,...,3205.5,2890.5,2130.5,1371.5,725.0,256.0,52.0,6.5,2015,중구
2,Y2015 2015,서울,11030 용산구,115743.5,4349.0,4149.5,4292.5,5358.0,7411.5,8425.0,...,5501.5,4936.5,3982.0,2275.5,1253.0,442.0,89.5,18.0,2015,용산구
3,Y2015 2015,서울,11040 성동구,146776.0,6095.5,5417.5,5605.5,7469.0,10061.0,11246.5,...,6579.0,5635.5,4093.0,2340.0,1175.0,434.0,97.0,17.0,2015,성동구
4,Y2015 2015,서울,11050 광진구,181675.5,6465.0,6282.5,7108.0,10154.5,13796.5,16331.5,...,7321.0,5613.0,4019.0,2387.0,1240.0,463.0,122.0,17.0,2015,광진구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Y2018 2018,경기,31270 포천시,71224.0,2297.5,2808.0,2920.0,3961.0,4346.5,3731.0,...,3532.5,3352.0,3370.5,2337.5,1117.0,428.5,115.0,12.0,2018,포천시
260,Y2018 2018,경기,31280 여주시,54825.0,1798.5,2216.5,2292.0,2897.0,3004.5,2600.0,...,3118.0,2623.5,2677.0,1925.0,1016.5,403.5,101.0,12.0,2018,여주시
261,Y2018 2018,경기,31350 연천군,21156.0,843.5,773.0,725.0,944.5,1008.5,1029.0,...,1342.5,1382.5,1447.0,1019.5,475.5,199.5,44.5,7.5,2018,연천군
262,Y2018 2018,경기,31370 가평군,30300.0,860.0,1071.0,1078.0,1364.5,1418.0,1330.0,...,1988.5,1817.0,1857.5,1266.5,684.0,256.0,64.5,8.0,2018,가평군
263,Y2018 2018,경기,31380 양평군,56853.5,1724.0,2230.0,2238.0,2405.5,2568.0,2313.0,...,3984.0,3253.5,2990.0,2192.0,1195.0,436.0,111.5,13.5,2018,양평군

In [14]:
population5 = population5.drop(columns=['시점','행정구역(시군구)별'])
population5

,시도,계,0-4세,5-9세,10-14세,15-19세,20-24세,25-29세,30-34세,35-39세,...,65-69세,70-74세,75-79세,80-84세,85-89세,90-94세,95-99세,100세이상,년도,시군구
0,서울,76326.0,2143.5,2328.0,2968.0,4225.5,5648.5,5715.5,5641.5,5207.5,...,3809.5,3540.0,2599.0,1599.5,845.0,339.0,85.0,14.5,2015,종로구
1,서울,61636.0,2159.5,1938.0,1890.5,2704.5,4129.5,4567.0,5333.5,4713.5,...,3205.5,2890.5,2130.5,1371.5,725.0,256.0,52.0,6.5,2015,중구
2,서울,115743.5,4349.0,4149.5,4292.5,5358.0,7411.5,8425.0,10301.0,9437.5,...,5501.5,4936.5,3982.0,2275.5,1253.0,442.0,89.5,18.0,2015,용산구
3,서울,146776.0,6095.5,5417.5,5605.5,7469.0,10061.0,11246.5,13234.5,12040.0,...,6579.0,5635.5,4093.0,2340.0,1175.0,434.0,97.0,17.0,2015,성동구
4,서울,181675.5,6465.0,6282.5,7108.0,10154.5,13796.5,16331.5,17370.0,14183.5,...,7321.0,5613.0,4019.0,2387.0,1240.0,463.0,122.0,17.0,2015,광진구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,71224.0,2297.5,2808.0,2920.0,3961.0,4346.5,3731.0,3274.0,4016.0,...,3532.5,3352.0,3370.5,2337.5,1117.0,428.5,115.0,12.0,2018,포천시
260,경기,54825.0,1798.5,2216.5,2292.0,2897.0,3004.5,2600.0,2580.0,3582.0,...,3118.0,2623.5,2677.0,1925.0,1016.5,403.5,101.0,12.0,2018,여주시
261,경기,21156.0,843.5,773.0,725.0,944.5,1008.5,1029.0,970.0,1142.5,...,1342.5,1382.5,1447.0,1019.5,475.5,199.5,44.5,7.5,2018,연천군
262,경기,30300.0,860.0,1071.0,1078.0,1364.5,1418.0,1330.0,1291.0,1644.0,...,1988.5,1817.0,1857.5,1266.5,684.0,256.0,64.5,8.0,2018,가평군
263,경기,56853.5,1724.0,2230.0,2238.0,2405.5,2568.0,2313.0,2399.5,3400.5,...,3984.0,3253.5,2990.0,2192.0,1195.0,436.0,111.5,13.5,2018,양평군

In [15]:
population5.dtypes

시도         object
계         float64
0-4세      float64
5-9세      float64
10-14세    float64
15-19세    float64
20-24세    float64
25-29세    float64
30-34세    float64
35-39세    float64
40-44세    float64
45-49세    float64
50-54세    float64
55-59세    float64
60-64세    float64
65-69세    float64
70-74세    float64
75-79세    float64
80-84세    float64
85-89세    float64
90-94세    float64
95-99세    float64
100세이상    float64
년도         object
시군구        object
dtype: object

In [16]:
population5 = population5.astype({'년도':int})

In [17]:
existing_data = pd.merge(existing_data,population5,  on = ['시도','시군구','년도'], how='left',suffixes=('_전체인구', '_여성인구'))
existing_data

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,55-59세_여성인구,60-64세_여성인구,65-69세_여성인구,70-74세_여성인구,75-79세_여성인구,80-84세_여성인구,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구
0,서울,종로구,11010,2015,0.950,0.388313,2755607,3443,13435,11931891080,...,5802.5,4339.0,3809.5,3540.0,2599.0,1599.5,845.0,339.0,85.0,14.5
1,서울,종로구,11010,2016,0.968,0.388313,2737610,3304,12419,11836795910,...,5905.0,4611.0,3738.5,3460.0,2716.0,1681.0,879.5,340.5,93.5,16.0
2,서울,종로구,11010,2017,0.957,0.388313,2870292,3214,12277,12480610630,...,6012.0,4826.0,3696.0,3400.0,2938.5,1797.0,927.0,351.0,98.0,20.5
3,서울,종로구,11010,2018,0.952,0.388313,3007628,3265,12960,14710609140,...,6071.0,4994.5,3703.0,3401.5,3088.5,1924.0,972.5,383.5,104.0,21.0
4,서울,중구,11020,2015,0.952,0.327387,2922120,3034,11835,10491851900,...,5180.0,3779.5,3205.5,2890.5,2130.5,1371.5,725.0,256.0,52.0,6.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,2018,0.970,0.185385,1893631,1270,4938,5586589860,...,3090.0,2916.0,1988.5,1817.0,1857.5,1266.5,684.0,256.0,64.5,8.0
260,경기,양평군,31380,2015,0.952,0.232083,1571897,1671,6827,6165924380,...,5128.5,4176.0,3257.5,3123.5,2632.5,1760.5,919.5,346.0,90.5,11.0
261,경기,양평군,31380,2016,0.950,0.232083,1637534,1720,6935,6728977860,...,5407.0,4765.5,3365.5,3174.5,2673.0,1944.0,1015.0,362.5,102.5,10.0
262,경기,양평군,31380,2017,0.953,0.232083,1708265,1833,7505,7765318000,...,5658.5,5196.0,3616.5,3194.5,2848.0,2083.0,1110.5,387.0,111.0,11.5
263,경기,양평군,31380,2018,0.947,0.232083,1785488,2013,8008,9448406570,...,5727.5,5496.0,3984.0,3253.5,2990.0,2192.0,1195.0,436.0,111.5,13.5

In [18]:
# 법정동 행정동 연결 dataframe shp파일 = 법정동, 지표 = 행정동 이므로 붙이기 편하게 하기 위해서 행정동으로 통일
korea_city_code = pd.read_csv('./data/kor_city.csv', dtype= str)

korea_city_code

,시도,시군구,행정구역명,행정동(행정기관명),법정동,행정구역코드,행정기관코드,행정기관 생성일,법정구역코드,법정동코드,관할지역,행정동 영문명칭,비고
0,서울특별시,서울특별시,서울특별시,서울특별시,서울특별시,11,1100000000,19880423,11,1100000000,NaN,Seoul,NaN
1,부산광역시,부산광역시,부산광역시,부산광역시,부산광역시,21,2600000000,19950101,26,2600000000,NaN,Busan,NaN
2,대구광역시,대구광역시,대구광역시,대구광역시,대구광역시,22,2700000000,19950101,27,2700000000,NaN,Daegu,NaN
3,인천광역시,인천광역시,인천광역시,인천광역시,인천광역시,23,2800000000,19950101,28,2800000000,NaN,Incheon,NaN
4,광주광역시,광주광역시,광주광역시,광주광역시,광주광역시,24,2900000000,19950101,29,2900000000,NaN,Gwangju,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21578,제주특별자치도,서귀포시,중문동,중문동,대포동,3902061,5013061000,20060701,5013011400,5013011400,NaN,Jungmun-dong,NaN
21579,제주특별자치도,서귀포시,중문동,중문동,하원동,3902061,5013061000,20060701,5013011800,5013011800,NaN,Jungmun-dong,NaN
21580,제주특별자치도,서귀포시,예래동,예래동,색달동,3902062,5013062000,20060701,5013011900,5013011900,NaN,Yerae-dong,NaN
21581,제주특별자치도,서귀포시,예래동,예래동,상예동,3902062,5013062000,20060701,5013012000,5013012000,NaN,Yerae-dong,NaN
21582,제주특별자치도,서귀포시,예래동,예래동,하예동,3902062,5013062000,20060701,5013012100,5013012100,NaN,Yerae-dong,NaN

In [19]:
existing_data = pd.merge(existing_data, korea_city_code[['법정구역코드','행정구역코드']], on ='행정구역코드', how='left')
existing_data

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,60-64세_여성인구,65-69세_여성인구,70-74세_여성인구,75-79세_여성인구,80-84세_여성인구,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,법정구역코드
0,서울,종로구,11010,2015,0.950,0.388313,2755607,3443,13435,11931891080,...,4339.0,3809.5,3540.0,2599.0,1599.5,845.0,339.0,85.0,14.5,11110
1,서울,종로구,11010,2016,0.968,0.388313,2737610,3304,12419,11836795910,...,4611.0,3738.5,3460.0,2716.0,1681.0,879.5,340.5,93.5,16.0,11110
2,서울,종로구,11010,2017,0.957,0.388313,2870292,3214,12277,12480610630,...,4826.0,3696.0,3400.0,2938.5,1797.0,927.0,351.0,98.0,20.5,11110
3,서울,종로구,11010,2018,0.952,0.388313,3007628,3265,12960,14710609140,...,4994.5,3703.0,3401.5,3088.5,1924.0,972.5,383.5,104.0,21.0,11110
4,서울,중구,11020,2015,0.952,0.327387,2922120,3034,11835,10491851900,...,3779.5,3205.5,2890.5,2130.5,1371.5,725.0,256.0,52.0,6.5,11140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,2018,0.970,0.185385,1893631,1270,4938,5586589860,...,2916.0,1988.5,1817.0,1857.5,1266.5,684.0,256.0,64.5,8.0,41820
260,경기,양평군,31380,2015,0.952,0.232083,1571897,1671,6827,6165924380,...,4176.0,3257.5,3123.5,2632.5,1760.5,919.5,346.0,90.5,11.0,41830
261,경기,양평군,31380,2016,0.950,0.232083,1637534,1720,6935,6728977860,...,4765.5,3365.5,3174.5,2673.0,1944.0,1015.0,362.5,102.5,10.0,41830
262,경기,양평군,31380,2017,0.953,0.232083,1708265,1833,7505,7765318000,...,5196.0,3616.5,3194.5,2848.0,2083.0,1110.5,387.0,111.0,11.5,41830
263,경기,양평군,31380,2018,0.947,0.232083,1785488,2013,8008,9448406570,...,5496.0,3984.0,3253.5,2990.0,2192.0,1195.0,436.0,111.5,13.5,41830

In [20]:
# 잘붙여졌나 확인
existing_data['법정구역코드'].isna().sum()

0

In [21]:
existing_data[existing_data['시군구']=='미추홀구']

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,60-64세_여성인구,65-69세_여성인구,70-74세_여성인구,75-79세_여성인구,80-84세_여성인구,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,법정구역코드
108,인천,미추홀구,23090,2015,0.954,0.178115,1693128,11961,47004,42653868410,...,11895.5,9736.5,7976.0,6025.5,3716.5,2031.0,697.0,156.5,30.0,28177
109,인천,미추홀구,23090,2016,0.943,0.178115,1724822,11676,45715,44498983100,...,13183.0,9899.0,8099.5,6333.0,4027.0,2146.5,749.0,183.5,36.5,28177
110,인천,미추홀구,23090,2017,0.955,0.178115,1809166,11643,45505,47362841390,...,14268.0,10139.0,8266.0,6867.0,4341.0,2294.0,844.5,210.5,38.5,28177
111,인천,미추홀구,23090,2018,0.946,0.178115,1870321,12743,51661,60908253450,...,15131.5,10414.5,8534.5,7255.5,4640.0,2444.5,951.0,223.5,36.0,28177

###### 1. 도시면적 붙이기

* 출처) 통계청: https://kosis.kr/statHtml/statHtml.do?orgId=315&tblId=TX_315_2009_H1009&conn_path=I2 
* 면적 단위 = m^2

In [22]:
city_area = pd.read_excel('./data/city_area.xlsx')

city_area

        시도  시군구    년도         면적
0    서울특별시  종로구  2015   23912894
1    서울특별시  종로구  2016   23912883
2    서울특별시  종로구  2017   23912788
3    서울특별시  종로구  2018   23913318
4    서울특별시   중구  2015    9960549
..     ...  ...   ...        ...
259    경기도  가평군  2018  843271028
260    경기도  연천군  2015  676010010
261    경기도  연천군  2016  676321573
262    경기도  연천군  2017  676312014
263    경기도  연천군  2018  676318927

[264 rows x 4 columns]

In [23]:
city_area['시도']=city_area.apply(lambda x:SIDOname_change(x['시도']),axis=1)
city_area['시군구']=city_area.apply(lambda x:SGGname_change(x['시도'],x['시군구']),axis=1)

city_area

     시도  시군구    년도         면적
0    서울  종로구  2015   23912894
1    서울  종로구  2016   23912883
2    서울  종로구  2017   23912788
3    서울  종로구  2018   23913318
4    서울   중구  2015    9960549
..   ..  ...   ...        ...
259  경기  가평군  2018  843271028
260  경기  연천군  2015  676010010
261  경기  연천군  2016  676321573
262  경기  연천군  2017  676312014
263  경기  연천군  2018  676318927

[264 rows x 4 columns]

In [24]:
concat_data =pd.merge(existing_data, city_area, on= ['시도','시군구','년도'], how='outer')
concat_data

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,65-69세_여성인구,70-74세_여성인구,75-79세_여성인구,80-84세_여성인구,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,법정구역코드,면적
0,서울,종로구,11010,2015,0.950,0.388313,2755607,3443,13435,11931891080,...,3809.5,3540.0,2599.0,1599.5,845.0,339.0,85.0,14.5,11110,23912894
1,서울,종로구,11010,2016,0.968,0.388313,2737610,3304,12419,11836795910,...,3738.5,3460.0,2716.0,1681.0,879.5,340.5,93.5,16.0,11110,23912883
2,서울,종로구,11010,2017,0.957,0.388313,2870292,3214,12277,12480610630,...,3696.0,3400.0,2938.5,1797.0,927.0,351.0,98.0,20.5,11110,23912788
3,서울,종로구,11010,2018,0.952,0.388313,3007628,3265,12960,14710609140,...,3703.0,3401.5,3088.5,1924.0,972.5,383.5,104.0,21.0,11110,23913318
4,서울,중구,11020,2015,0.952,0.327387,2922120,3034,11835,10491851900,...,3205.5,2890.5,2130.5,1371.5,725.0,256.0,52.0,6.5,11140,9960549
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,2018,0.970,0.185385,1893631,1270,4938,5586589860,...,1988.5,1817.0,1857.5,1266.5,684.0,256.0,64.5,8.0,41820,843271028
260,경기,양평군,31380,2015,0.952,0.232083,1571897,1671,6827,6165924380,...,3257.5,3123.5,2632.5,1760.5,919.5,346.0,90.5,11.0,41830,877690918
261,경기,양평군,31380,2016,0.950,0.232083,1637534,1720,6935,6728977860,...,3365.5,3174.5,2673.0,1944.0,1015.0,362.5,102.5,10.0,41830,877691672
262,경기,양평군,31380,2017,0.953,0.232083,1708265,1833,7505,7765318000,...,3616.5,3194.5,2848.0,2083.0,1110.5,387.0,111.0,11.5,41830,877693097
263,경기,양평군,31380,2018,0.947,0.232083,1785488,2013,8008,9448406570,...,3984.0,3253.5,2990.0,2192.0,1195.0,436.0,111.5,13.5,41830,877727400

###### 2. 지하철 붙이기

* 출처) 공공데이터 포털: https://www.data.go.kr/data/15013205/standard.do
* shp 파일에 붙인 후 나온 데이터

In [25]:
def change_BJcity_code(BJcity):
    BJcity=str(BJcity)
    
    if(BJcity[0:2]=='41'):
        BJcity = BJcity[0:4]+"0" # 경기도 구단위를 전부 시단위로 올려주기
    else:
        BJcity
    
    return BJcity

In [26]:
subway = pd.read_csv('./data/수도권_지하철_시군구.csv')
subway

,역번호,역사명,노선번호,노선명,영문역사명,한자역사명,환승역구분,환승노선번호,환승노선명,역위도,역경도,운영기관명,역사도로명주소,역사전화번호,데이터기준일자,제공기관코드,제공기관명,A1,A2
0,0206,신당,S1102,서울 도시철도 2호선,Sindang,新堂,환승역,S1106,서울 도시철도 6호선,37.565829,127.018102,서울교통공사,서울특별시 중구 퇴계로 지하 431-1 (신당동),02-6110-2061,2021-04-09,B553766,서울교통공사,11140,중구
1,0152,종각,S1101,서울 도시철도 1호선,Jonggak,鐘閣,일반역,NaN,NaN,37.570203,126.982948,서울교통공사,서울특별시 종로구 종로 지하 55 (종로1가),02-6110-1311,2021-04-09,B553766,서울교통공사,11110,종로구
2,0153,종로3가,S1101,서울 도시철도 1호선,Jongno 3(sam)-ga,鍾路三街,환승역,S1103+S1105,서울 도시철도 3호선+서울 도시철도 5호선,37.571394,126.991411,서울교통공사,서울특별시 종로구 종로 지하 129 (종로3가),02-6110-1301,2021-04-09,B553766,서울교통공사,11110,종로구
3,0154,종로5가,S1101,서울 도시철도 1호선,Jongno 5(o)-ga,鐘路五街,일반역,NaN,NaN,37.571007,127.001799,서울교통공사,서울특별시 종로구 종로 지하 216 (종로5가),02-6110-1291,2021-04-09,B553766,서울교통공사,11110,종로구
4,0155,동대문,S1101,서울 도시철도 1호선,Dongdaemun,東大門,환승역,S1104,서울 도시철도 4호선,37.571291,127.010119,서울교통공사,서울특별시 종로구 종로 지하 302 (창신동),02-6110-1281,2021-04-09,B553766,서울교통공사,11110,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,137,용문역,k0212,경의중앙선,Yongmun,龍 門,일반역,NaN,NaN,37.482085,127.594251,한국철도공사,경기도 양평군 용문면 용문역길 18,1544-7788,2020-12-31,B551457,한국철도공사,41830,양평군
648,151,부개역,k0301,경인선,Bugae,富 開,일반역,NaN,NaN,37.488479,126.740549,한국철도공사,인천시 부평구 수변로 22,1544-7788,2020-12-31,B551457,한국철도공사,28237,부평구
649,2760,굴포천,S1107,서울 도시철도 7호선,Gulpocheon,掘浦川,일반역,NaN,NaN,37.507083,126.731107,서울교통공사,인천광역시 부평구 길주로 지하623 (삼산동),02-6311-7581,2021-04-09,B553766,서울교통공사,28237,부평구
650,106,덕계역,k0205,경원선,Deokgye,德 溪,일반역,NaN,NaN,37.818761,127.056676,한국철도공사,경기도 양주시 고덕로 139번길 317번지,1544-7788,2020-12-31,B551457,한국철도공사,41630,양주시
651,105,덕정역,k0205,경원선,Deokjeong,德 亭,일반역,NaN,NaN,37.843216,127.061511,한국철도공사,경기도 양주시 화합로 1356,1544-7788,2020-12-31,B551457,한국철도공사,41630,양주시

In [27]:
subway = subway.rename(columns={"A1":"법정구역코드"})
subway

,역번호,역사명,노선번호,노선명,영문역사명,한자역사명,환승역구분,환승노선번호,환승노선명,역위도,역경도,운영기관명,역사도로명주소,역사전화번호,데이터기준일자,제공기관코드,제공기관명,법정구역코드,A2
0,0206,신당,S1102,서울 도시철도 2호선,Sindang,新堂,환승역,S1106,서울 도시철도 6호선,37.565829,127.018102,서울교통공사,서울특별시 중구 퇴계로 지하 431-1 (신당동),02-6110-2061,2021-04-09,B553766,서울교통공사,11140,중구
1,0152,종각,S1101,서울 도시철도 1호선,Jonggak,鐘閣,일반역,NaN,NaN,37.570203,126.982948,서울교통공사,서울특별시 종로구 종로 지하 55 (종로1가),02-6110-1311,2021-04-09,B553766,서울교통공사,11110,종로구
2,0153,종로3가,S1101,서울 도시철도 1호선,Jongno 3(sam)-ga,鍾路三街,환승역,S1103+S1105,서울 도시철도 3호선+서울 도시철도 5호선,37.571394,126.991411,서울교통공사,서울특별시 종로구 종로 지하 129 (종로3가),02-6110-1301,2021-04-09,B553766,서울교통공사,11110,종로구
3,0154,종로5가,S1101,서울 도시철도 1호선,Jongno 5(o)-ga,鐘路五街,일반역,NaN,NaN,37.571007,127.001799,서울교통공사,서울특별시 종로구 종로 지하 216 (종로5가),02-6110-1291,2021-04-09,B553766,서울교통공사,11110,종로구
4,0155,동대문,S1101,서울 도시철도 1호선,Dongdaemun,東大門,환승역,S1104,서울 도시철도 4호선,37.571291,127.010119,서울교통공사,서울특별시 종로구 종로 지하 302 (창신동),02-6110-1281,2021-04-09,B553766,서울교통공사,11110,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,137,용문역,k0212,경의중앙선,Yongmun,龍 門,일반역,NaN,NaN,37.482085,127.594251,한국철도공사,경기도 양평군 용문면 용문역길 18,1544-7788,2020-12-31,B551457,한국철도공사,41830,양평군
648,151,부개역,k0301,경인선,Bugae,富 開,일반역,NaN,NaN,37.488479,126.740549,한국철도공사,인천시 부평구 수변로 22,1544-7788,2020-12-31,B551457,한국철도공사,28237,부평구
649,2760,굴포천,S1107,서울 도시철도 7호선,Gulpocheon,掘浦川,일반역,NaN,NaN,37.507083,126.731107,서울교통공사,인천광역시 부평구 길주로 지하623 (삼산동),02-6311-7581,2021-04-09,B553766,서울교통공사,28237,부평구
650,106,덕계역,k0205,경원선,Deokgye,德 溪,일반역,NaN,NaN,37.818761,127.056676,한국철도공사,경기도 양주시 고덕로 139번길 317번지,1544-7788,2020-12-31,B551457,한국철도공사,41630,양주시
651,105,덕정역,k0205,경원선,Deokjeong,德 亭,일반역,NaN,NaN,37.843216,127.061511,한국철도공사,경기도 양주시 화합로 1356,1544-7788,2020-12-31,B551457,한국철도공사,41630,양주시

In [28]:
subway['법정구역코드'] = subway['법정구역코드'].apply(lambda x:change_BJcity_code(x))
subway

,역번호,역사명,노선번호,노선명,영문역사명,한자역사명,환승역구분,환승노선번호,환승노선명,역위도,역경도,운영기관명,역사도로명주소,역사전화번호,데이터기준일자,제공기관코드,제공기관명,법정구역코드,A2
0,0206,신당,S1102,서울 도시철도 2호선,Sindang,新堂,환승역,S1106,서울 도시철도 6호선,37.565829,127.018102,서울교통공사,서울특별시 중구 퇴계로 지하 431-1 (신당동),02-6110-2061,2021-04-09,B553766,서울교통공사,11140,중구
1,0152,종각,S1101,서울 도시철도 1호선,Jonggak,鐘閣,일반역,NaN,NaN,37.570203,126.982948,서울교통공사,서울특별시 종로구 종로 지하 55 (종로1가),02-6110-1311,2021-04-09,B553766,서울교통공사,11110,종로구
2,0153,종로3가,S1101,서울 도시철도 1호선,Jongno 3(sam)-ga,鍾路三街,환승역,S1103+S1105,서울 도시철도 3호선+서울 도시철도 5호선,37.571394,126.991411,서울교통공사,서울특별시 종로구 종로 지하 129 (종로3가),02-6110-1301,2021-04-09,B553766,서울교통공사,11110,종로구
3,0154,종로5가,S1101,서울 도시철도 1호선,Jongno 5(o)-ga,鐘路五街,일반역,NaN,NaN,37.571007,127.001799,서울교통공사,서울특별시 종로구 종로 지하 216 (종로5가),02-6110-1291,2021-04-09,B553766,서울교통공사,11110,종로구
4,0155,동대문,S1101,서울 도시철도 1호선,Dongdaemun,東大門,환승역,S1104,서울 도시철도 4호선,37.571291,127.010119,서울교통공사,서울특별시 종로구 종로 지하 302 (창신동),02-6110-1281,2021-04-09,B553766,서울교통공사,11110,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
647,137,용문역,k0212,경의중앙선,Yongmun,龍 門,일반역,NaN,NaN,37.482085,127.594251,한국철도공사,경기도 양평군 용문면 용문역길 18,1544-7788,2020-12-31,B551457,한국철도공사,41830,양평군
648,151,부개역,k0301,경인선,Bugae,富 開,일반역,NaN,NaN,37.488479,126.740549,한국철도공사,인천시 부평구 수변로 22,1544-7788,2020-12-31,B551457,한국철도공사,28237,부평구
649,2760,굴포천,S1107,서울 도시철도 7호선,Gulpocheon,掘浦川,일반역,NaN,NaN,37.507083,126.731107,서울교통공사,인천광역시 부평구 길주로 지하623 (삼산동),02-6311-7581,2021-04-09,B553766,서울교통공사,28237,부평구
650,106,덕계역,k0205,경원선,Deokgye,德 溪,일반역,NaN,NaN,37.818761,127.056676,한국철도공사,경기도 양주시 고덕로 139번길 317번지,1544-7788,2020-12-31,B551457,한국철도공사,41630,양주시
651,105,덕정역,k0205,경원선,Deokjeong,德 亭,일반역,NaN,NaN,37.843216,127.061511,한국철도공사,경기도 양주시 화합로 1356,1544-7788,2020-12-31,B551457,한국철도공사,41630,양주시

In [29]:
subway[subway['A2']=='미추홀구']

,역번호,역사명,노선번호,노선명,영문역사명,한자역사명,환승역구분,환승노선번호,환승노선명,역위도,역경도,운영기관명,역사도로명주소,역사전화번호,데이터기준일자,제공기관코드,제공기관명,법정구역코드,A2
347,159,도원역,k0301,경인선,Dowon,桃 源,일반역,NaN,NaN,37.468604,126.642824,한국철도공사,인천시 동구 참외전로 245,1544-7788,2020-12-31,B551457,한국철도공사,28177,미추홀구
350,270,숭의역,K2015,수인선,Sungui,崇 義,일반역,NaN,NaN,37.460891,126.638035,한국철도공사,인천시 남구 인주대로 지하6,1544-7788,2020-12-31,B551457,한국철도공사,28177,미추홀구
373,3126,인천터미널,S2801,인천지하철 1호선,Incheon Bus Terminal,仁川터미널,일반역,-,-,37.441917,126.699727,인천교통공사,인천광역시 미추홀구 예술로 85,032-441-3126,2020-11-30,B551894,인천교통공사,28177,미추홀구
376,156,주안역,k0301,경인선,Juan,朱 安,환승역,NaN,경인/인천2,37.465041,126.680702,한국철도공사,인천시 남구 주안로 95-19,1544-7788,2020-12-31,B551457,한국철도공사,28177,미추홀구
377,157,도화역,k0301,경인선,Dohwa,道 禾,일반역,NaN,NaN,37.466154,126.668460,한국철도공사,인천시 남구 숙골로 24번길 9,1544-7788,2020-12-31,B551457,한국철도공사,28177,미추홀구
382,3217,주안국가산단,S2802,인천지하철 2호선,Juan National Industrial Complex,朱安國家産團,일반역,-,-,37.473599,126.681702,인천교통공사,인천광역시 서구 방축로 343 (가좌동),032-451-4317,2020-11-30,B551894,인천교통공사,28177,미추홀구
383,3218,주안,S2802,인천지하철 2호선,Juan,朱安,환승역,I2802+I1101,경인선,37.465517,126.680441,인천교통공사,인천광역시 미추홀구 주안로 지하 91-1 (주안동),032-451-4318,2020-11-30,B551894,인천교통공사,28177,미추홀구
384,3219,시민공원,S2802,인천지하철 2호선,Citizens Park,市民公園,일반역,-,-,37.458739,126.680091,인천교통공사,인천광역시 미추홀구 경인로 371 (주안동),032-451-4319,2020-11-30,B551894,인천교통공사,28177,미추홀구
385,3220,석바위시장,S2802,인천지하철 2호선,Seokbawi Market,石岩市場,일반역,-,-,37.457659,126.692387,인천교통공사,인천광역시 미추홀구 구월로 19 (주안동),032-451-4320,2020-11-30,B551894,인천교통공사,28177,미추홀구
425,158,제물포역,k0301,경인선,Jemulpo,濟物浦,일반역,NaN,NaN,37.466809,126.657165,한국철도공사,인천시 남구 경인로 129,1544-7788,2020-12-31,B551457,한국철도공사,28177,미추홀구
426,269,인하대역,K2015,수인선,Inha Univ.,仁荷大,일반역,NaN,NaN,37.448191,126.649832,한국철도공사,인천시 남구 용현동 294-3,1544-7788,2020-12-31,B551457,한국철도공사,28177,미추홀구

In [30]:
len(subway['법정구역코드'].unique())

60

In [31]:
subway_count = subway[['법정구역코드','노선번호','역번호']].groupby(by='법정구역코드').nunique().reset_index() #고유 값 갯수 세기
subway_count

   법정구역코드  노선번호  역번호
0   11110     5   14
1   11140     6   23
2   11170     6   17
3   11200     5   18
4   11215     3   11
5   11230     4   10
6   11260     4   12
7   11290     2    9
8   11305     1    3
9   11320     3    7
10  11350     4   17
11  11380     3   14
12  11410     4    8
13  11440     5   20
14  11470     2    5
15  11500     3   11
16  11530     5   13
17  11545     2    4
18  11560     4   15
19  11590     4   12
20  11620     1    5
21  11650     5   14
22  11680     5   30
23  11710     7   32
24  11740     3   11
25  28110     2    4
26  28177     4   11
27  28185     2   15
28  28200     4   15
29  28237     3   12
30  28245     1    7
31  28260     1   16
32  41110     3   13
33  41130     3   17
34  41150     3   21
35  41170     2    7
36  41190     2   11
37  41210     2    3
38  41220     1    5
39  41250     1    5
40  41270     2   15
41  41280     3   19
42  41290     1    5
43  41310     1    1
44  41360     2    7
45  41370     1    4
46  41390     2    6
47  41410     2    6
48  41430     1    1
49  41450     1    2
50  41460     2   21
51  41480     1    8
52  41500     1    3
53  41570     1    9
54  41590     2    3
55  41610     1    4
56  41630     1    3
57  41670     1    2
58  41820     1    4
59  41830     1    9

In [32]:
concat_data = pd.merge(concat_data, subway_count, on ='법정구역코드',how='left')
concat_data

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,75-79세_여성인구,80-84세_여성인구,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,법정구역코드,면적,노선번호,역번호
0,서울,종로구,11010,2015,0.950,0.388313,2755607,3443,13435,11931891080,...,2599.0,1599.5,845.0,339.0,85.0,14.5,11110,23912894,5.0,14.0
1,서울,종로구,11010,2016,0.968,0.388313,2737610,3304,12419,11836795910,...,2716.0,1681.0,879.5,340.5,93.5,16.0,11110,23912883,5.0,14.0
2,서울,종로구,11010,2017,0.957,0.388313,2870292,3214,12277,12480610630,...,2938.5,1797.0,927.0,351.0,98.0,20.5,11110,23912788,5.0,14.0
3,서울,종로구,11010,2018,0.952,0.388313,3007628,3265,12960,14710609140,...,3088.5,1924.0,972.5,383.5,104.0,21.0,11110,23913318,5.0,14.0
4,서울,중구,11020,2015,0.952,0.327387,2922120,3034,11835,10491851900,...,2130.5,1371.5,725.0,256.0,52.0,6.5,11140,9960549,6.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,2018,0.970,0.185385,1893631,1270,4938,5586589860,...,1857.5,1266.5,684.0,256.0,64.5,8.0,41820,843271028,1.0,4.0
260,경기,양평군,31380,2015,0.952,0.232083,1571897,1671,6827,6165924380,...,2632.5,1760.5,919.5,346.0,90.5,11.0,41830,877690918,1.0,9.0
261,경기,양평군,31380,2016,0.950,0.232083,1637534,1720,6935,6728977860,...,2673.0,1944.0,1015.0,362.5,102.5,10.0,41830,877691672,1.0,9.0
262,경기,양평군,31380,2017,0.953,0.232083,1708265,1833,7505,7765318000,...,2848.0,2083.0,1110.5,387.0,111.0,11.5,41830,877693097,1.0,9.0
263,경기,양평군,31380,2018,0.947,0.232083,1785488,2013,8008,9448406570,...,2990.0,2192.0,1195.0,436.0,111.5,13.5,41830,877727400,1.0,9.0

In [33]:
concat_data[concat_data['역번호'].isna()]

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,75-79세_여성인구,80-84세_여성인구,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,법정구역코드,면적,노선번호,역번호
104,인천,동구,23020,2015,0.935,0.147449,2608233,2224,8790,7941074850,...,1436.5,957.0,450.0,175.5,27.5,6.0,28140,7191313,NaN,NaN
105,인천,동구,23020,2016,0.949,0.147449,2536885,2136,8530,8313269980,...,1458.5,1009.0,490.0,171.5,35.5,7.0,28140,7191314,NaN,NaN
106,인천,동구,23020,2017,0.962,0.147449,2620806,2014,7904,8222439660,...,1561.5,1049.5,533.5,176.0,37.5,8.5,28140,7193925,NaN,NaN
107,인천,동구,23020,2018,0.959,0.147449,2731778,2083,8501,9904040460,...,1614.0,1071.5,575.0,195.0,38.5,9.5,28140,7194484,NaN,NaN
132,인천,강화군,23310,2015,0.943,0.151898,1627270,970,3809,3568051810,...,2298.0,1645.5,860.0,356.5,75.5,8.0,28710,411434328,NaN,NaN
133,인천,강화군,23310,2016,0.946,0.151898,1705032,1005,4117,3959706830,...,2341.0,1787.5,896.5,385.5,79.5,10.5,28710,411428019,NaN,NaN
134,인천,강화군,23310,2017,0.954,0.151898,1795061,1009,4117,4283609170,...,2450.0,1889.0,974.0,397.5,87.0,12.5,28710,411446461,NaN,NaN
135,인천,강화군,23310,2018,0.943,0.151898,1888932,992,4122,4864572960,...,2555.0,1931.0,1087.0,407.5,90.5,13.0,28710,411426993,NaN,NaN
136,인천,옹진군,23320,2015,0.953,0.164111,1674269,265,1010,918554390,...,496.5,402.5,228.0,116.5,22.5,2.0,28720,172191533,NaN,NaN
137,인천,옹진군,23320,2016,0.950,0.164111,1747311,263,997,928293430,...,489.5,401.0,256.5,122.5,27.5,4.0,28720,172478827,NaN,NaN
138,인천,옹진군,23320,2017,0.962,0.164111,1746371,228,942,942374090,...,501.0,408.5,281.5,125.0,34.5,5.5,28720,172883054,NaN,NaN
139,인천,옹진군,23320,2018,0.964,0.164111,1821610,267,1103,1250306390,...,523.5,428.5,279.0,130.5,39.5,5.5,28720,172881055,NaN,NaN
224,경기,안성시,31220,2015,0.950,0.199765,2112824,3815,15228,13898637310,...,3384.0,2320.0,1121.5,393.5,76.5,14.0,41550,553410031,NaN,NaN
225,경기,안성시,31220,2016,0.953,0.199765,2186749,3936,15948,15637967090,...,3433.0,2506.5,1218.0,423.0,88.0,14.5,41550,553392068,NaN,NaN
226,경기,안성시,31220,2017,0.961,0.199765,2284496,3538,14215,14746795040,...,3519.5,2640.5,1354.5,458.5,106.5,14.0,41550,553397808,NaN,NaN
227,경기,안성시,31220,2018,0.960,0.199765,2385263,4078,17180,20532291230,...,3585.0,2764.0,1460.5,502.0,123.0,13.5,41550,553398042,NaN,NaN
244,경기,포천시,31270,2015,0.938,0.135295,1849320,3217,12692,11298610790,...,3060.5,1821.0,968.5,359.5,64.5,6.5,41650,826521808,NaN,NaN
245,경기,포천시,31270,2016,0.952,0.135295,1916743,3178,12054,11783223510,...,3138.0,1986.5,1012.5,391.0,76.0,8.0,41650,826565850,NaN,NaN
246,경기,포천시,31270,2017,0.934,0.135295,2017843,2964,11319,11878769030,...,3275.5,2177.0,1042.5,407.5,93.0,10.5,41650,826648999,NaN,NaN
247,경기,포천시,31270,2018,0.956,0.135295,2115007,3308,13141,15830863740,...,3370.5,2337.5,1117.0,428.5,115.0,12.0,41650,826652314,NaN,NaN
252,경기,연천군,31350,2015,0.946,0.131971,1630078,872,3297,2918631870,...,1325.5,773.5,431.0,153.5,52.0,5.5,41800,676010010,NaN,NaN
253,경기,연천군,31350,2016,0.962,0.131971,1697771,931,3670,3468560590,...,1365.5,852.0,439.0,169.5,47.5,6.5,41800,676321573,NaN,NaN
254,경기,연천군,31350,2017,0.971,0.131971,1780863,858,3276,3387609470,...,1420.0,930.0,452.0,188.0,44.5,7.0,41800,676312014,NaN,NaN
255,경기,연천군,31350,2018,0.966,0.131971,1872702,912,3559,4185234010,...,1447.0,1019.5,475.5,199.5,44.5,7.5,41800,676318927,NaN,NaN

In [34]:
concat_data= concat_data.fillna(0)
concat_data

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,75-79세_여성인구,80-84세_여성인구,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,법정구역코드,면적,노선번호,역번호
0,서울,종로구,11010,2015,0.950,0.388313,2755607,3443,13435,11931891080,...,2599.0,1599.5,845.0,339.0,85.0,14.5,11110,23912894,5.0,14.0
1,서울,종로구,11010,2016,0.968,0.388313,2737610,3304,12419,11836795910,...,2716.0,1681.0,879.5,340.5,93.5,16.0,11110,23912883,5.0,14.0
2,서울,종로구,11010,2017,0.957,0.388313,2870292,3214,12277,12480610630,...,2938.5,1797.0,927.0,351.0,98.0,20.5,11110,23912788,5.0,14.0
3,서울,종로구,11010,2018,0.952,0.388313,3007628,3265,12960,14710609140,...,3088.5,1924.0,972.5,383.5,104.0,21.0,11110,23913318,5.0,14.0
4,서울,중구,11020,2015,0.952,0.327387,2922120,3034,11835,10491851900,...,2130.5,1371.5,725.0,256.0,52.0,6.5,11140,9960549,6.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,2018,0.970,0.185385,1893631,1270,4938,5586589860,...,1857.5,1266.5,684.0,256.0,64.5,8.0,41820,843271028,1.0,4.0
260,경기,양평군,31380,2015,0.952,0.232083,1571897,1671,6827,6165924380,...,2632.5,1760.5,919.5,346.0,90.5,11.0,41830,877690918,1.0,9.0
261,경기,양평군,31380,2016,0.950,0.232083,1637534,1720,6935,6728977860,...,2673.0,1944.0,1015.0,362.5,102.5,10.0,41830,877691672,1.0,9.0
262,경기,양평군,31380,2017,0.953,0.232083,1708265,1833,7505,7765318000,...,2848.0,2083.0,1110.5,387.0,111.0,11.5,41830,877693097,1.0,9.0
263,경기,양평군,31380,2018,0.947,0.232083,1785488,2013,8008,9448406570,...,2990.0,2192.0,1195.0,436.0,111.5,13.5,41830,877727400,1.0,9.0

In [35]:
concat_data = concat_data.rename(columns={'노선번호':'지하철_노선_개수','역번호':'지하철_역_개수'})
concat_data

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,75-79세_여성인구,80-84세_여성인구,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,법정구역코드,면적,지하철_노선_개수,지하철_역_개수
0,서울,종로구,11010,2015,0.950,0.388313,2755607,3443,13435,11931891080,...,2599.0,1599.5,845.0,339.0,85.0,14.5,11110,23912894,5.0,14.0
1,서울,종로구,11010,2016,0.968,0.388313,2737610,3304,12419,11836795910,...,2716.0,1681.0,879.5,340.5,93.5,16.0,11110,23912883,5.0,14.0
2,서울,종로구,11010,2017,0.957,0.388313,2870292,3214,12277,12480610630,...,2938.5,1797.0,927.0,351.0,98.0,20.5,11110,23912788,5.0,14.0
3,서울,종로구,11010,2018,0.952,0.388313,3007628,3265,12960,14710609140,...,3088.5,1924.0,972.5,383.5,104.0,21.0,11110,23913318,5.0,14.0
4,서울,중구,11020,2015,0.952,0.327387,2922120,3034,11835,10491851900,...,2130.5,1371.5,725.0,256.0,52.0,6.5,11140,9960549,6.0,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,2018,0.970,0.185385,1893631,1270,4938,5586589860,...,1857.5,1266.5,684.0,256.0,64.5,8.0,41820,843271028,1.0,4.0
260,경기,양평군,31380,2015,0.952,0.232083,1571897,1671,6827,6165924380,...,2632.5,1760.5,919.5,346.0,90.5,11.0,41830,877690918,1.0,9.0
261,경기,양평군,31380,2016,0.950,0.232083,1637534,1720,6935,6728977860,...,2673.0,1944.0,1015.0,362.5,102.5,10.0,41830,877691672,1.0,9.0
262,경기,양평군,31380,2017,0.953,0.232083,1708265,1833,7505,7765318000,...,2848.0,2083.0,1110.5,387.0,111.0,11.5,41830,877693097,1.0,9.0
263,경기,양평군,31380,2018,0.947,0.232083,1785488,2013,8008,9448406570,...,2990.0,2192.0,1195.0,436.0,111.5,13.5,41830,877727400,1.0,9.0

###### 도로 노드 링크 연결하기

In [36]:
node_df = pd.read_csv('./data/수도권_노드.csv')

node_df

          NODE_ID  NODE_TYPE  NODE_NAME  TURN_P REMARK     A1
0      1070013700        101      캐나다관저       1    NaN  11290
1      1070014800        101      타운하우스       0    NaN  11290
2      1070042000        101  성북동330-89       0    NaN  11290
3      1070043501        101      타운하우스       1    NaN  11290
4      1070043401        101   변종하기념미술관       1    NaN  11290
...           ...        ...        ...     ...    ...    ...
53502  2350151600        101      중말교차로       1    NaN  41630
53503  2350067201        101   삼숭동617-1       0    NaN  41630
53504  2350287801        101          -       0   지번없음  41630
53505  2350287701        101      돈까스클럽       1    NaN  41630
53506  2350287601        101   만송동518-7       0    NaN  41630

[53507 rows x 6 columns]

In [37]:
node_df = node_df.rename(columns={"A1":"법정구역코드"})
node_df

          NODE_ID  NODE_TYPE  NODE_NAME  TURN_P REMARK  법정구역코드
0      1070013700        101      캐나다관저       1    NaN   11290
1      1070014800        101      타운하우스       0    NaN   11290
2      1070042000        101  성북동330-89       0    NaN   11290
3      1070043501        101      타운하우스       1    NaN   11290
4      1070043401        101   변종하기념미술관       1    NaN   11290
...           ...        ...        ...     ...    ...     ...
53502  2350151600        101      중말교차로       1    NaN   41630
53503  2350067201        101   삼숭동617-1       0    NaN   41630
53504  2350287801        101          -       0   지번없음   41630
53505  2350287701        101      돈까스클럽       1    NaN   41630
53506  2350287601        101   만송동518-7       0    NaN   41630

[53507 rows x 6 columns]

In [38]:
node_df['법정구역코드'] = node_df['법정구역코드'].apply(lambda x:change_BJcity_code(x))
node_df

          NODE_ID  NODE_TYPE  NODE_NAME  TURN_P REMARK 법정구역코드
0      1070013700        101      캐나다관저       1    NaN  11290
1      1070014800        101      타운하우스       0    NaN  11290
2      1070042000        101  성북동330-89       0    NaN  11290
3      1070043501        101      타운하우스       1    NaN  11290
4      1070043401        101   변종하기념미술관       1    NaN  11290
...           ...        ...        ...     ...    ...    ...
53502  2350151600        101      중말교차로       1    NaN  41630
53503  2350067201        101   삼숭동617-1       0    NaN  41630
53504  2350287801        101          -       0   지번없음  41630
53505  2350287701        101      돈까스클럽       1    NaN  41630
53506  2350287601        101   만송동518-7       0    NaN  41630

[53507 rows x 6 columns]

In [39]:
len(node_df['법정구역코드'].unique())

66

In [40]:
node_count = node_df[['법정구역코드','NODE_ID']].groupby(by='법정구역코드').nunique().reset_index() #고유 값 갯수 세기
node_count

   법정구역코드  NODE_ID
0   11110      346
1   11140      272
2   11170      307
3   11200      300
4   11215      203
..    ...      ...
61  41650     1174
62  41670     1280
63  41800      728
64  41820      932
65  41830     1113

[66 rows x 2 columns]

In [41]:
link_df = pd.read_csv('./data/수도권_링크.csv')

link_df

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,ROAD_NO,ROAD_NAME,ROAD_USE,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,LENGTH,REMARK,A1
0,2333471800,2330218900,2330121200,2,101,0,400,수도권제2순환고속도로,0,0,0,100,5,0.0,0,1015.356469,NaN,41590
1,2333471900,2330121200,2330218900,2,101,0,400,수도권제2순환고속도로,0,0,0,100,5,0.0,0,1023.681680,NaN,41590
2,2040420901,2040019400,2040154401,1,107,0,-,헌릉로890번길,0,0,0,30,0,0.0,0,226.977588,NaN,11710
3,2040421001,2040154401,2040019400,1,107,0,-,헌릉로890번길,0,0,0,30,0,0.0,0,216.080227,NaN,11710
4,2040421101,2040154401,2040079400,3,107,0,-,헌릉로,0,0,0,50,0,0.0,0,248.831571,NaN,11710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149664,1610382401,1610140801,1610039900,1,107,0,-,-,0,0,0,50,0,0.0,0,75.256333,도로명없음,28110
149665,1610382001,1610140801,1610039500,1,107,0,-,영종순환로877번길,0,0,0,50,0,0.0,0,384.190505,NaN,28110
149666,1610381901,1610039500,1610140801,1,107,0,-,영종순환로877번길,0,0,0,50,0,0.0,0,418.664449,NaN,28110
149667,2340620001,2340206001,2340163900,3,103,0,3,성남이천로,0,0,0,90,0,0.0,0,567.616913,NaN,41610
149668,2340620101,2340163900,2340206001,3,103,0,3,성남이천로,0,0,0,90,0,0.0,0,569.459880,NaN,41610

In [42]:
link_df = link_df.rename(columns={"A1":"법정구역코드"})
link_df

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,ROAD_NO,ROAD_NAME,ROAD_USE,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,LENGTH,REMARK,법정구역코드
0,2333471800,2330218900,2330121200,2,101,0,400,수도권제2순환고속도로,0,0,0,100,5,0.0,0,1015.356469,NaN,41590
1,2333471900,2330121200,2330218900,2,101,0,400,수도권제2순환고속도로,0,0,0,100,5,0.0,0,1023.681680,NaN,41590
2,2040420901,2040019400,2040154401,1,107,0,-,헌릉로890번길,0,0,0,30,0,0.0,0,226.977588,NaN,11710
3,2040421001,2040154401,2040019400,1,107,0,-,헌릉로890번길,0,0,0,30,0,0.0,0,216.080227,NaN,11710
4,2040421101,2040154401,2040079400,3,107,0,-,헌릉로,0,0,0,50,0,0.0,0,248.831571,NaN,11710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149664,1610382401,1610140801,1610039900,1,107,0,-,-,0,0,0,50,0,0.0,0,75.256333,도로명없음,28110
149665,1610382001,1610140801,1610039500,1,107,0,-,영종순환로877번길,0,0,0,50,0,0.0,0,384.190505,NaN,28110
149666,1610381901,1610039500,1610140801,1,107,0,-,영종순환로877번길,0,0,0,50,0,0.0,0,418.664449,NaN,28110
149667,2340620001,2340206001,2340163900,3,103,0,3,성남이천로,0,0,0,90,0,0.0,0,567.616913,NaN,41610
149668,2340620101,2340163900,2340206001,3,103,0,3,성남이천로,0,0,0,90,0,0.0,0,569.459880,NaN,41610

In [43]:
link_df['법정구역코드'] = link_df['법정구역코드'].apply(lambda x:change_BJcity_code(x))
link_df

,LINK_ID,F_NODE,T_NODE,LANES,ROAD_RANK,ROAD_TYPE,ROAD_NO,ROAD_NAME,ROAD_USE,MULTI_LINK,CONNECT,MAX_SPD,REST_VEH,REST_W,REST_H,LENGTH,REMARK,법정구역코드
0,2333471800,2330218900,2330121200,2,101,0,400,수도권제2순환고속도로,0,0,0,100,5,0.0,0,1015.356469,NaN,41590
1,2333471900,2330121200,2330218900,2,101,0,400,수도권제2순환고속도로,0,0,0,100,5,0.0,0,1023.681680,NaN,41590
2,2040420901,2040019400,2040154401,1,107,0,-,헌릉로890번길,0,0,0,30,0,0.0,0,226.977588,NaN,11710
3,2040421001,2040154401,2040019400,1,107,0,-,헌릉로890번길,0,0,0,30,0,0.0,0,216.080227,NaN,11710
4,2040421101,2040154401,2040079400,3,107,0,-,헌릉로,0,0,0,50,0,0.0,0,248.831571,NaN,11710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149664,1610382401,1610140801,1610039900,1,107,0,-,-,0,0,0,50,0,0.0,0,75.256333,도로명없음,28110
149665,1610382001,1610140801,1610039500,1,107,0,-,영종순환로877번길,0,0,0,50,0,0.0,0,384.190505,NaN,28110
149666,1610381901,1610039500,1610140801,1,107,0,-,영종순환로877번길,0,0,0,50,0,0.0,0,418.664449,NaN,28110
149667,2340620001,2340206001,2340163900,3,103,0,3,성남이천로,0,0,0,90,0,0.0,0,567.616913,NaN,41610
149668,2340620101,2340163900,2340206001,3,103,0,3,성남이천로,0,0,0,90,0,0.0,0,569.459880,NaN,41610

In [44]:
len(link_df['법정구역코드'].unique())

66

In [45]:
link_count = link_df[['법정구역코드','LINK_ID']].groupby(by='법정구역코드').nunique().reset_index() #고유 값 갯수 세기
link_count

   법정구역코드  LINK_ID
0   11110      979
1   11140      731
2   11170      771
3   11200      766
4   11215      501
..    ...      ...
61  41650     2780
62  41670     3122
63  41800     1780
64  41820     2254
65  41830     2584

[66 rows x 2 columns]

In [46]:
concat_data = pd.merge(concat_data, node_count, on ='법정구역코드',how='left')
concat_data = pd.merge(concat_data, link_count, on ='법정구역코드',how='left')
concat_data

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,법정구역코드,면적,지하철_노선_개수,지하철_역_개수,NODE_ID,LINK_ID
0,서울,종로구,11010,2015,0.950,0.388313,2755607,3443,13435,11931891080,...,845.0,339.0,85.0,14.5,11110,23912894,5.0,14.0,346,979
1,서울,종로구,11010,2016,0.968,0.388313,2737610,3304,12419,11836795910,...,879.5,340.5,93.5,16.0,11110,23912883,5.0,14.0,346,979
2,서울,종로구,11010,2017,0.957,0.388313,2870292,3214,12277,12480610630,...,927.0,351.0,98.0,20.5,11110,23912788,5.0,14.0,346,979
3,서울,종로구,11010,2018,0.952,0.388313,3007628,3265,12960,14710609140,...,972.5,383.5,104.0,21.0,11110,23913318,5.0,14.0,346,979
4,서울,중구,11020,2015,0.952,0.327387,2922120,3034,11835,10491851900,...,725.0,256.0,52.0,6.5,11140,9960549,6.0,23.0,272,731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,2018,0.970,0.185385,1893631,1270,4938,5586589860,...,684.0,256.0,64.5,8.0,41820,843271028,1.0,4.0,932,2254
260,경기,양평군,31380,2015,0.952,0.232083,1571897,1671,6827,6165924380,...,919.5,346.0,90.5,11.0,41830,877690918,1.0,9.0,1113,2584
261,경기,양평군,31380,2016,0.950,0.232083,1637534,1720,6935,6728977860,...,1015.0,362.5,102.5,10.0,41830,877691672,1.0,9.0,1113,2584
262,경기,양평군,31380,2017,0.953,0.232083,1708265,1833,7505,7765318000,...,1110.5,387.0,111.0,11.5,41830,877693097,1.0,9.0,1113,2584
263,경기,양평군,31380,2018,0.947,0.232083,1785488,2013,8008,9448406570,...,1195.0,436.0,111.5,13.5,41830,877727400,1.0,9.0,1113,2584

In [47]:
concat_data = concat_data.rename(columns={'NODE_ID':'도로_노드_개수','LINK_ID':'도로_링크_개수'})
concat_data

,시도,시군구,행정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),실업급여지급액(년),...,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,법정구역코드,면적,지하철_노선_개수,지하철_역_개수,도로_노드_개수,도로_링크_개수
0,서울,종로구,11010,2015,0.950,0.388313,2755607,3443,13435,11931891080,...,845.0,339.0,85.0,14.5,11110,23912894,5.0,14.0,346,979
1,서울,종로구,11010,2016,0.968,0.388313,2737610,3304,12419,11836795910,...,879.5,340.5,93.5,16.0,11110,23912883,5.0,14.0,346,979
2,서울,종로구,11010,2017,0.957,0.388313,2870292,3214,12277,12480610630,...,927.0,351.0,98.0,20.5,11110,23912788,5.0,14.0,346,979
3,서울,종로구,11010,2018,0.952,0.388313,3007628,3265,12960,14710609140,...,972.5,383.5,104.0,21.0,11110,23913318,5.0,14.0,346,979
4,서울,중구,11020,2015,0.952,0.327387,2922120,3034,11835,10491851900,...,725.0,256.0,52.0,6.5,11140,9960549,6.0,23.0,272,731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,2018,0.970,0.185385,1893631,1270,4938,5586589860,...,684.0,256.0,64.5,8.0,41820,843271028,1.0,4.0,932,2254
260,경기,양평군,31380,2015,0.952,0.232083,1571897,1671,6827,6165924380,...,919.5,346.0,90.5,11.0,41830,877690918,1.0,9.0,1113,2584
261,경기,양평군,31380,2016,0.950,0.232083,1637534,1720,6935,6728977860,...,1015.0,362.5,102.5,10.0,41830,877691672,1.0,9.0,1113,2584
262,경기,양평군,31380,2017,0.953,0.232083,1708265,1833,7505,7765318000,...,1110.5,387.0,111.0,11.5,41830,877693097,1.0,9.0,1113,2584
263,경기,양평군,31380,2018,0.947,0.232083,1785488,2013,8008,9448406570,...,1195.0,436.0,111.5,13.5,41830,877727400,1.0,9.0,1113,2584

In [48]:
concat_data.columns

Index(['시도', '시군구', '행정구역코드', '년도', 'EQ5D', '학사_비율', '소득액', '실업급여지급자수(년)',
       '실업급여지급건수(년)', '실업급여지급액(년)', '인구수', '계_전체인구', '0-4세_전체인구', '5-9세_전체인구',
       '10-14세_전체인구', '15-19세_전체인구', '20-24세_전체인구', '25-29세_전체인구',
       '30-34세_전체인구', '35-39세_전체인구', '40-44세_전체인구', '45-49세_전체인구',
       '50-54세_전체인구', '55-59세_전체인구', '60-64세_전체인구', '65-69세_전체인구',
       '70-74세_전체인구', '75-79세_전체인구', '80-84세_전체인구', '85-89세_전체인구',
       '90-94세_전체인구', '95-99세_전체인구', '100세이상_전체인구', '경제활동가능인구', '인구_실업급여자_비율',
       '경제활동가능인구_실업급여자_비율', '계_여성인구', '0-4세_여성인구', '5-9세_여성인구', '10-14세_여성인구',
       '15-19세_여성인구', '20-24세_여성인구', '25-29세_여성인구', '30-34세_여성인구',
       '35-39세_여성인구', '40-44세_여성인구', '45-49세_여성인구', '50-54세_여성인구',
       '55-59세_여성인구', '60-64세_여성인구', '65-69세_여성인구', '70-74세_여성인구',
       '75-79세_여성인구', '80-84세_여성인구', '85-89세_여성인구', '90-94세_여성인구',
       '95-99세_여성인구', '100세이상_여성인구', '법정구역코드', '면적', '지하철_노선_개수', '지하철_역_개수',
       '도로_노드_개수', '도로_링크_개수'],
      dtype='object')

In [49]:
# 컬럼 위치 변경

concat_data = concat_data[['시도', '시군구', '행정구역코드', '법정구역코드', '년도', 'EQ5D', '학사_비율', '소득액', '실업급여지급자수(년)',
       '실업급여지급건수(년)', '실업급여지급액(년)', '인구수',  '경제활동가능인구', '인구_실업급여자_비율',
        '경제활동가능인구_실업급여자_비율', '계_전체인구', '0-4세_전체인구', '5-9세_전체인구',
       '10-14세_전체인구', '15-19세_전체인구', '20-24세_전체인구', '25-29세_전체인구',
       '30-34세_전체인구', '35-39세_전체인구', '40-44세_전체인구', '45-49세_전체인구',
       '50-54세_전체인구', '55-59세_전체인구', '60-64세_전체인구', '65-69세_전체인구',
       '70-74세_전체인구', '75-79세_전체인구', '80-84세_전체인구', '85-89세_전체인구',
       '90-94세_전체인구', '95-99세_전체인구', '100세이상_전체인구',
        '계_여성인구', '0-4세_여성인구', '5-9세_여성인구', '10-14세_여성인구',
       '15-19세_여성인구', '20-24세_여성인구', '25-29세_여성인구', '30-34세_여성인구',
       '35-39세_여성인구', '40-44세_여성인구', '45-49세_여성인구', '50-54세_여성인구',
       '55-59세_여성인구', '60-64세_여성인구', '65-69세_여성인구', '70-74세_여성인구',
       '75-79세_여성인구', '80-84세_여성인구', '85-89세_여성인구', '90-94세_여성인구',
       '95-99세_여성인구', '100세이상_여성인구',  '면적', '지하철_노선_개수', '지하철_역_개수',
       '도로_노드_개수', '도로_링크_개수']]

concat_data

,시도,시군구,행정구역코드,법정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),...,80-84세_여성인구,85-89세_여성인구,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,면적,지하철_노선_개수,지하철_역_개수,도로_노드_개수,도로_링크_개수
0,서울,종로구,11010,11110,2015,0.950,0.388313,2755607,3443,13435,...,1599.5,845.0,339.0,85.0,14.5,23912894,5.0,14.0,346,979
1,서울,종로구,11010,11110,2016,0.968,0.388313,2737610,3304,12419,...,1681.0,879.5,340.5,93.5,16.0,23912883,5.0,14.0,346,979
2,서울,종로구,11010,11110,2017,0.957,0.388313,2870292,3214,12277,...,1797.0,927.0,351.0,98.0,20.5,23912788,5.0,14.0,346,979
3,서울,종로구,11010,11110,2018,0.952,0.388313,3007628,3265,12960,...,1924.0,972.5,383.5,104.0,21.0,23913318,5.0,14.0,346,979
4,서울,중구,11020,11140,2015,0.952,0.327387,2922120,3034,11835,...,1371.5,725.0,256.0,52.0,6.5,9960549,6.0,23.0,272,731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,41820,2018,0.970,0.185385,1893631,1270,4938,...,1266.5,684.0,256.0,64.5,8.0,843271028,1.0,4.0,932,2254
260,경기,양평군,31380,41830,2015,0.952,0.232083,1571897,1671,6827,...,1760.5,919.5,346.0,90.5,11.0,877690918,1.0,9.0,1113,2584
261,경기,양평군,31380,41830,2016,0.950,0.232083,1637534,1720,6935,...,1944.0,1015.0,362.5,102.5,10.0,877691672,1.0,9.0,1113,2584
262,경기,양평군,31380,41830,2017,0.953,0.232083,1708265,1833,7505,...,2083.0,1110.5,387.0,111.0,11.5,877693097,1.0,9.0,1113,2584
263,경기,양평군,31380,41830,2018,0.947,0.232083,1785488,2013,8008,...,2192.0,1195.0,436.0,111.5,13.5,877727400,1.0,9.0,1113,2584

In [60]:
busstop_df = pd.DataFrame()

busstop_df1 = pd.read_csv('./data/bus_route1.csv').drop(columns=['citycode'])
busstop_df2 = pd.read_csv('./data/bus_route2.csv')
busstop_df3 = pd.read_csv('./data/bus_route3.csv').drop(columns=['citycode'])

busstop_df = busstop_df.append(busstop_df1)
busstop_df = busstop_df.append(busstop_df2)
busstop_df = busstop_df.append(busstop_df3)

busstop_df = busstop_df.drop_duplicates()
busstop_df = busstop_df.rename(columns={"A1":"법정구역코드"})
busstop_df['법정구역코드'] = busstop_df['법정구역코드'].apply(lambda x:change_BJcity_code(x))

busstop_count = busstop_df[['법정구역코드','routeid','nodeid']].groupby(by='법정구역코드').nunique().reset_index().rename(columns={"routeid":"버스_노선_개수","nodeid":"버스_정류장_개수"}) #고유 값 갯수 세기
busstop_count

   법정구역코드  버스_노선_개수  버스_정류장_개수
0   11110       144        396
1   11140       170        241
2   11170       102        344
3   11200        63        454
4   11215       108        348
..    ...       ...        ...
61  41650        69       1142
62  41670       202       1163
63  41800       100        637
64  41820        71        919
65  41830       178       1096

[66 rows x 3 columns]

In [61]:
concat_data = pd.merge(concat_data, busstop_count, on ='법정구역코드',how='left')
concat_data

,시도,시군구,행정구역코드,법정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),...,90-94세_여성인구,95-99세_여성인구,100세이상_여성인구,면적,지하철_노선_개수,지하철_역_개수,도로_노드_개수,도로_링크_개수,버스_노선_개수,버스_정류장_개수
0,서울,종로구,11010,11110,2015,0.950,0.388313,2755607,3443,13435,...,339.0,85.0,14.5,23912894,5.0,14.0,346,979,144,396
1,서울,종로구,11010,11110,2016,0.968,0.388313,2737610,3304,12419,...,340.5,93.5,16.0,23912883,5.0,14.0,346,979,144,396
2,서울,종로구,11010,11110,2017,0.957,0.388313,2870292,3214,12277,...,351.0,98.0,20.5,23912788,5.0,14.0,346,979,144,396
3,서울,종로구,11010,11110,2018,0.952,0.388313,3007628,3265,12960,...,383.5,104.0,21.0,23913318,5.0,14.0,346,979,144,396
4,서울,중구,11020,11140,2015,0.952,0.327387,2922120,3034,11835,...,256.0,52.0,6.5,9960549,6.0,23.0,272,731,170,241
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,41820,2018,0.970,0.185385,1893631,1270,4938,...,256.0,64.5,8.0,843271028,1.0,4.0,932,2254,71,919
260,경기,양평군,31380,41830,2015,0.952,0.232083,1571897,1671,6827,...,346.0,90.5,11.0,877690918,1.0,9.0,1113,2584,178,1096
261,경기,양평군,31380,41830,2016,0.950,0.232083,1637534,1720,6935,...,362.5,102.5,10.0,877691672,1.0,9.0,1113,2584,178,1096
262,경기,양평군,31380,41830,2017,0.953,0.232083,1708265,1833,7505,...,387.0,111.0,11.5,877693097,1.0,9.0,1113,2584,178,1096
263,경기,양평군,31380,41830,2018,0.947,0.232083,1785488,2013,8008,...,436.0,111.5,13.5,877727400,1.0,9.0,1113,2584,178,1096

In [63]:
print(concat_data.isna().sum())

시도           0
시군구          0
행정구역코드       0
법정구역코드       0
년도           0
            ..
지하철_역_개수     0
도로_노드_개수     0
도로_링크_개수     0
버스_노선_개수     0
버스_정류장_개수    0
Length: 66, dtype: int64

In [64]:
concat_data.columns

Index(['시도', '시군구', '행정구역코드', '법정구역코드', '년도', 'EQ5D', '학사_비율', '소득액',
       '실업급여지급자수(년)', '실업급여지급건수(년)', '실업급여지급액(년)', '인구수', '경제활동가능인구',
       '인구_실업급여자_비율', '경제활동가능인구_실업급여자_비율', '계_전체인구', '0-4세_전체인구', '5-9세_전체인구',
       '10-14세_전체인구', '15-19세_전체인구', '20-24세_전체인구', '25-29세_전체인구',
       '30-34세_전체인구', '35-39세_전체인구', '40-44세_전체인구', '45-49세_전체인구',
       '50-54세_전체인구', '55-59세_전체인구', '60-64세_전체인구', '65-69세_전체인구',
       '70-74세_전체인구', '75-79세_전체인구', '80-84세_전체인구', '85-89세_전체인구',
       '90-94세_전체인구', '95-99세_전체인구', '100세이상_전체인구', '계_여성인구', '0-4세_여성인구',
       '5-9세_여성인구', '10-14세_여성인구', '15-19세_여성인구', '20-24세_여성인구', '25-29세_여성인구',
       '30-34세_여성인구', '35-39세_여성인구', '40-44세_여성인구', '45-49세_여성인구',
       '50-54세_여성인구', '55-59세_여성인구', '60-64세_여성인구', '65-69세_여성인구',
       '70-74세_여성인구', '75-79세_여성인구', '80-84세_여성인구', '85-89세_여성인구',
       '90-94세_여성인구', '95-99세_여성인구', '100세이상_여성인구', '면적', '지하철_노선_개수',
       '지하철_역_개수', '도로_노드_개수', '도로_링크_개수', '버스_노선_개수', '버스_정류장_개수'],
      dtype='object')

In [65]:
concat_data['대중교통_노선_개수'] = concat_data['지하철_노선_개수'] + concat_data['버스_노선_개수']
concat_data['대중교통_정류장_역_개수'] = concat_data['지하철_역_개수'] + concat_data['버스_정류장_개수']

concat_data

,시도,시군구,행정구역코드,법정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),...,100세이상_여성인구,면적,지하철_노선_개수,지하철_역_개수,도로_노드_개수,도로_링크_개수,버스_노선_개수,버스_정류장_개수,대중교통_노선_개수,대중교통_정류장_역_개수
0,서울,종로구,11010,11110,2015,0.950,0.388313,2755607,3443,13435,...,14.5,23912894,5.0,14.0,346,979,144,396,149.0,410.0
1,서울,종로구,11010,11110,2016,0.968,0.388313,2737610,3304,12419,...,16.0,23912883,5.0,14.0,346,979,144,396,149.0,410.0
2,서울,종로구,11010,11110,2017,0.957,0.388313,2870292,3214,12277,...,20.5,23912788,5.0,14.0,346,979,144,396,149.0,410.0
3,서울,종로구,11010,11110,2018,0.952,0.388313,3007628,3265,12960,...,21.0,23913318,5.0,14.0,346,979,144,396,149.0,410.0
4,서울,중구,11020,11140,2015,0.952,0.327387,2922120,3034,11835,...,6.5,9960549,6.0,23.0,272,731,170,241,176.0,264.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,41820,2018,0.970,0.185385,1893631,1270,4938,...,8.0,843271028,1.0,4.0,932,2254,71,919,72.0,923.0
260,경기,양평군,31380,41830,2015,0.952,0.232083,1571897,1671,6827,...,11.0,877690918,1.0,9.0,1113,2584,178,1096,179.0,1105.0
261,경기,양평군,31380,41830,2016,0.950,0.232083,1637534,1720,6935,...,10.0,877691672,1.0,9.0,1113,2584,178,1096,179.0,1105.0
262,경기,양평군,31380,41830,2017,0.953,0.232083,1708265,1833,7505,...,11.5,877693097,1.0,9.0,1113,2584,178,1096,179.0,1105.0
263,경기,양평군,31380,41830,2018,0.947,0.232083,1785488,2013,8008,...,13.5,877727400,1.0,9.0,1113,2584,178,1096,179.0,1105.0

In [67]:
concat_data['대중교통_노선_면적'] = concat_data['면적']/concat_data['대중교통_노선_개수']
concat_data['대중교통_역_노선_면적'] = concat_data['면적']/concat_data['대중교통_정류장_역_개수']

concat_data

,시도,시군구,행정구역코드,법정구역코드,년도,EQ5D,학사_비율,소득액,실업급여지급자수(년),실업급여지급건수(년),...,지하철_노선_개수,지하철_역_개수,도로_노드_개수,도로_링크_개수,버스_노선_개수,버스_정류장_개수,대중교통_노선_개수,대중교통_정류장_역_개수,대중교통_노선_면적,대중교통_역_노선_면적
0,서울,종로구,11010,11110,2015,0.950,0.388313,2755607,3443,13435,...,5.0,14.0,346,979,144,396,149.0,410.0,1.604892e+05,58324.131707
1,서울,종로구,11010,11110,2016,0.968,0.388313,2737610,3304,12419,...,5.0,14.0,346,979,144,396,149.0,410.0,1.604891e+05,58324.104878
2,서울,종로구,11010,11110,2017,0.957,0.388313,2870292,3214,12277,...,5.0,14.0,346,979,144,396,149.0,410.0,1.604885e+05,58323.873171
3,서울,종로구,11010,11110,2018,0.952,0.388313,3007628,3265,12960,...,5.0,14.0,346,979,144,396,149.0,410.0,1.604921e+05,58325.165854
4,서울,중구,11020,11140,2015,0.952,0.327387,2922120,3034,11835,...,6.0,23.0,272,731,170,241,176.0,264.0,5.659403e+04,37729.352273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,경기,가평군,31370,41820,2018,0.970,0.185385,1893631,1270,4938,...,1.0,4.0,932,2254,71,919,72.0,923.0,1.171210e+07,913619.748646
260,경기,양평군,31380,41830,2015,0.952,0.232083,1571897,1671,6827,...,1.0,9.0,1113,2584,178,1096,179.0,1105.0,4.903301e+06,794290.423529
261,경기,양평군,31380,41830,2016,0.950,0.232083,1637534,1720,6935,...,1.0,9.0,1113,2584,178,1096,179.0,1105.0,4.903305e+06,794291.105882
262,경기,양평군,31380,41830,2017,0.953,0.232083,1708265,1833,7505,...,1.0,9.0,1113,2584,178,1096,179.0,1105.0,4.903313e+06,794292.395475
263,경기,양평군,31380,41830,2018,0.947,0.232083,1785488,2013,8008,...,1.0,9.0,1113,2584,178,1096,179.0,1105.0,4.903505e+06,794323.438914

In [68]:
concat_data.to_csv('./data/concat_control_variable.csv',index=False)